/* 
    couleurs:
    #ef5350 rouge brique pale
    #ff5252 rouge brick eclatant
    #5c6bc0 bleu indigo leger
    #536dfe bleu indigo eclatant
    #e64a19 orange pale 
    #cfd8dc bleu gris clair
    #1de9b6 teal bleu special
*/

@font-face{
  font-family: "Abel";
  src : url('./fonts/Abel-Regular.ttf')
}
@font-face{
  font-family: "Roboto";
  src : url('./fonts/Roboto-Regular.ttf')
}

*{margin:0; padding:0; user-select: none;
    --white-0: #ffffff;
    --white-1: #f2f2f2;
    --white-2: #e5e5e5;
    --white-3: #d8d8d8;
    --grey-0: #555555;
    --grey-1: #434343;
    --grey-2: #303030;
    --teal-bleu-special: #1de9b6;
    --bleu-indigo-leger: #82b1ff;
    --bleu-indigo-eclatant: #536dfe;
}
#isActive{}
#isHover{
    border: solid var(--bleu-indigo-eclatant) 4px;
}
a{
    cursor:pointer;
}
a:hover{
    font-weight: bold;
}
body{
    font-family: "Roboto";
    font-size: 13px;
}
#css-editor, #js-editor{
    top:50px;
    height: 500px;
    display:none;
}
#imgpiker{
    display:none;
}
a, p{
    /* color: #448aff ; */
    color: var(--grey-2);
    text-decoration: none;
}
main{
    min-height: 95vh;
    width: inherit;
    background-color: var(--withe-0);
    max-width: 100%;
}
.list {
    list-style-type: none;
}
.first-class{
    padding: 4rem 1rem;
    width: 80%;
    float: left;
}
.edit-zone, .re-edit-zone{
    border: solid var(--grey-2) 1px;
    min-height: 60px;
}
.first-class-editor{
    grid-column: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    margin-top: 3.8rem;
    padding: 0 16px;
    border-left: solid 1px;
    border-color: var(--grey-2);
    float: left;
}
input[type="range"] {
  -webkit-appearance: slider-vertical;
}
.editor-btn-flexbox{
    display:flex;
    justify-content: space-around;
    line-height: 2;
}
.editor-btn-flexbox a:hover{
    background-color: var(--white-1);
    position: relative;
    padding: 0 5px;
    top:1px;
}
#titrepage{
    border: none;
    line-height: 2;
}
hr{
    width: 100%;
    border-top: solid 1px;
    color: var(--grey-2);
    height: 1px;
    background: var(--grey-2);
}
.boutons a{
    line-height: 2;
}
.boutons a:hover{
    font-weight: bold;
    background-color: var(--white-1);
}
.link, .boutons a{
    width:100%;
}
.editables li, .list li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 2;
}
.editables li:hover, .list li:hover, .nav p:hover{
    background-color: var(--white-1);
    position: relative;
    top: 1px;
}
.editables li a{
    max-width: 50%;
    overflow: hidden;
}
.list li span{
    cursor: url('./dltcursor.png') 0 11, default;
}
section{
}
section h4{
    text-align: center;
}
section:nth-child(2), section:nth-child(3), section:nth-child(4){
    margin-top:0;
}
#nodemaker section:not(:nth-child(3)){
}
.xcms-div{
    min-height: 60px;
}
.xcms-menu li a{
    color: #448aff !important;
    text-decoration: none;
}
.xcms-popd{
    display:none;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    z-index: 2;
}
#options-selectd{
    opacity: 1;
    width: 152px;
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 195px;
    z-index: 1;
}
#mymenus{
    display: flex;
    flex-direction: column;
}
.save{
    background: transparent;
    border: none;
    padding: 8px;
    cursor: pointer;
}
.save:hover{
    background-color: var(--white-1);
}
#menusize{
    font-weight: bold;
}
#options-select ul, #options-selectd ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#options-select ul li, #options-selectd ul li{
    list-style-type: none;
    display: inline;
}
iframe{
    height: 100vh;
    width: 100%;
    overflow: scroll;
}
.nav{
    background: var(--white-0);
    border-bottom: solid 1px var(--grey-2);
    font-weight: bold;
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav p{
    cursor: pointer;
    width: 150px;
    color: #000;
    text-align: center;
    position: relative;
    right: 1.7rem;
    line-height: 2;
}
#isContainer, #isContained{
    min-height: 60px;
}

#designmaker{
    display: none;
}
.classBox{
    position: absolute;
    background: #fff;
    padding: 10px;    
}
.first-class-editor-button{
    display: none;
    }
.cc-outer{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
}
.cc-inner{
    background-color: var(--white-0);
    display: flex;
    flex-direction: column;
    max-width: 700px;
    min-width: 192px;
    padding-right: 6px;
    align-items: center;
    position: absolute;
    right: 0;
    top: 295px;
}
.cc-title{
}
.cc-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    flex-wrap: wrap;
}
.cc-body div{
    text-align: center;
    margin: 15px 15px 0 15px;
}
.cc-body button{
    border: none;
    padding: 8px;
    background-color: var(--white-0);
}
.cc-body button p{
    color: var(--grey-2);
}
.cc-body button:hover{
    background-color: var(--white-1);
}
.xcms-custom-menu{
    display:none;
    position: absolute;
    background-color: var(--white-0);
}
.page-duplicate{
    display:none;
    position: absolute;
    width: 150px;
    height: 50px;
    background-color: var(--white-0);
    padding: 5px;
    border: solid 1px #448aff;
}
.container-editor-options{
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 30px;
    padding: 1rem;
    align-items: center;
}
.container-editor-options button, button{
    background: transparent;
    color: var(--grey-2);
    border-color: var(--grey-2);
    cursor: pointer;
    border-width: 1px;
    border-right: none;
    border-bottom: none;
    border-top: none;
    padding: 0 16px;
    margin-left: 1rem;
    line-height: 2;
}
button:last-of-type{
    background-color: var(--white-1);
}
.container-editor-options button:hover{
    background: var(--white-1);
    position: relative;
    top: 1px;
}
button:last-of-type:hover{
    background: var(--white-2);
    position: relative;
    top: 1px;
}
.tree-view{
    position: absolute;
    width: 100px;
    background-color: var(--grey-1);
}
.tree-view ul{
    margin-left: 8px;
    list-style-type: none;
}
.tree-view li{
    margin-left: 8px;
    list-style-type: none;
}
@media only screen and (max-width: 411px){
    .first-class-editor{
        display: none;
        margin-top: 0;
        min-width:100%;
    }
    .first-class{
        min-width: 100%;
    }
    .first-class-editor-button{
        display:block;
        position: absolute;
        right: 20px;
        top: 50px;
        border: solid 2px #536dfe;
        color: #536dfe;
        padding: 10px;
        cursor: pointer;
    }
    .first-class-editor-button p{
        text-decoration: underline;
    }
}
