/* 
    couleurs:
    #ef5350 rouge brique pale
    #ff5252 rouge brick eclatant
    #5c6bc0 bleu indigo leger
    #536dfe bleu indigo eclatant
    #e64a19 orange pale 
    #cfd8dc bleu gris clair
    #1de9b6 teal bleu special
*/

@font-face{
  font-family: "Abel";
  src : url('./fonts/Abel-Regular.ttf')
}
@font-face{
  font-family: "Roboto";
  src : url('./fonts/Roboto-Regular.ttf')
}

*{margin:0; padding:0; user-select: none;
    --rouge-brick-pale: #ef5350;
    --rouge-brique-eclatant: #ff5252;
    --bleu-indigo-leger: #82b1ff;;
    --bleu-indigo-eclatant: #536dfe;
    --orange-pale: #e64a19;
    --bleu-gris-clair: #cfd8dc;
    --teal-bleu-special: #1de9b6;
}
#isActive{
    border-right: solid 20px #536dfe;
}
a{
    cursor:pointer;
}
body{
    font-family: "Roboto";
    font-size: 13px;
}
#css-editor, #js-editor{
    top:50px;
    height: 500px;
    display:none;
}
#imgpiker{
    display:none;
}
a, p{
    color: #448aff ;
}
main{
    /* display: grid;
    grid-template-columns: repeat(3,1fr); */
    height: inherit;
    width: inherit;
}
.first-class{
    /* grid-column: 1/3;
    padding: 90px 90px 0 90px; */
}
.edit-zone, .re-edit-zone{
    /*border: solid #5c6bc0 20px;*/
    border: solid #82b1ff 1px;
    min-height: 60px;
}
.first-class-editor{
    grid-column: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    margin-top: 3.8rem;
    padding-top: 0;
}
.colors{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
#titrepage{
    border: none;
    line-height: 2;
}
#fond{
    grid-column: 1;
}
#texte{
    grid-column: 1;
    grid-row: 2;
}
#color-picker{
    grid-column: 2;
    grid-row: 1/3;
    position: relative;
    top: 5.5px;
}
.backcolor, .textcolor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-column: 1/3;
    color:#448aff ;
}
.backcolor input, .textcolor input{
    border: none;
    background: #fff;
    width: 21px;
    height: 23px;
    cursor: pointer;
    position: absolute;
    right: .5rem;
    transform: translateY(-5px);
}
section{
}
section:nth-child(2), section:nth-child(3), section:nth-child(4){
    margin-top:0;
}
#nodemaker section:not(:nth-child(3)){
}
.xcms-div{
    min-height: 60px;
}
.xcms-popd{
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: #000;
    top:0;
    left:0;
    display:none;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0.7;
}
#options-select, #options-selectd{
    opacity: 1;
    height: 250px;
    width: 250px;
    list-style-type: none;
    background-color: #fff;
}
#options-select ul, #options-selectd ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
#options-select ul li, #options-selectd ul li{
    list-style-type: none;
    display: inline;
}
iframe{
    height: 100vh;
    width: 100%;
    overflow: scroll;
}
.nav{
    background: #82b1ff;
    font-weight: bold;
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav p{
    cursor: pointer;
    width: 150px;
    color: #000;
    text-align: center;
    position: relative;
    right: 3.4rem;
}
.smallbordur{
    border: solid .5px;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
}
#isContainer{
    border: solid .5px black;
    min-height: 60px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#designmaker{
    display: none;
}
.classBox{
    position: absolute;
    background: #fff;
    padding: 10px;    
}
.first-class-editor-button{
    display: none;
    }

@media only screen and (max-width: 411px){
    .first-class-editor{
        display: none;
        margin-top: 0;
        min-width:100%;
    }
    .first-class{
        min-width: 100%;
    }
    .first-class-editor-button{
        display:block;
        position: absolute;
        right: 20px;
        top: 50px;
        border: solid 2px #536dfe;
        color: #536dfe;
        padding: 10px;
        cursor: pointer;
    }
    .first-class-editor-button p{
        text-decoration: underline;
    }
}
