@font-face{
  font-family: "Roboto";
  src : url('./fonts/Roboto-Regular.ttf')
}
/* 
    couleurs:
    #ef5350 rouge brique pale
    #ff5252 rouge brick eclatant
    #5c6bc0 bleu indigo leger
    #536dfe bleu indigo eclatant
    #e64a19 orange pale 
    #cfd8dc bleu gris clair
    #1de9b6 teal bleu special
*/
*{margin:0; padding:0; user-select: none;
    --rouge-brick-pale: #ef5350;
    --rouge-brique-eclatant: #ff5252;
    --bleu-indigo-leger: #5c6bc0;
    --bleu-indigo-eclatant: #536dfe;
    --orange-pale: #e64a19;
    --bleu-gris-clair: #cfd8dc;
    --teal-bleu-special: #1de9b6;
}
body{
    display: flex;
    flex-direction: column;
    font-family: "Roboto"
}
form{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-items: center;
    margin: 0 auto;
}
.xcms-div, .xcms-img{padding: 0;}
.xcms-menu{
    list-style-type: none;
}
.xcms-menu li{
    display: inline;
    margin: 5%;
}
.xcms-menu li a{
    color: white;
    text-decoration: none;
}
.xcms-custom{
    text-align: center;
}
.xcms-div{
    width:100%;
    display:block;
}
.xcms-img{
    display:block;
    height: 250px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
.lien{
    color: rgb(15, 85, 235);
}