nav{
  height: 42px;
  display: flex;
  justify-content: flex-end;
  width: 84vw;
  position: fixed;
  top:0;
  background-color: var(--darkgrey);
  padding: 0 16px;
}
ul{
  height: 42px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: max-content;
  list-style-type: none;
}
main > div{
  height: max-content;
  min-height: min-content;
  width: 84vw;
  background-color: var(--darkgrey);
  margin-left: auto;
  margin-right: auto;
  padding-top: 42px;
}
main{
  overflow-x: auto;
}
